<div class="pb-6">
    <div class="grid">
      <p-toast></p-toast>
     
          <div class="col-12">
            <div class="login-container">
                <h2> Admin Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div>
                    <label for="username">Username</label>
                    <input id="username" formControlName="username" type="text" />
                  </div>
                  
                  <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password" />
                  </div>
              
                  <button type="submit">Login</button>
                  
                  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
                </form>
              </div>
          </div>
    </div>
</div>


