<div class="pb-6">
    <div class="grid">
        <!-- <div class="col-12">
            <div class="toolbar-demo card">
           
              <div class="p-toolbar-group-left">
                <div class="header-left-div flex align-items-center">
                  <div class="header-div1 mr-3">
                    <i class="pi pi-users" style="font-size: 2rem; color: var(--primary-color);"></i>
                  </div>
                  <div class="header-div2" >
                    <h5 class="m-0" style="font-size: 1.5rem; color: var(--text-color);">Admin Login</h5>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-12">
            <div class="login-container">
                <h2> Admin Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div>
                    <label for="username">Username</label>
                    <input id="username" formControlName="username" type="text" />
                  </div>
                  
                  <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password" />
                  </div>
              
                  <button type="submit">Login</button>
                  
                  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
                </form>
              </div>
          </div>
    </div>
</div>


